[Unit]
Description=Armada virtual trackpad Gamescope overlay
PartOf=gamescope-session-plus@steam.service

[Service]
Environment=GDK_BACKEND=x11
Environment=GSK_RENDERER=cairo
ExecStart=/usr/libexec/armada/virtual-trackpads-overlay
Restart=on-failure
RestartSec=2
